<head>
    <meta charset="UTF-8">
    <meta name="google-adsense-account" content="ca-pub-8284760783766658">  
    <link rel="icon" type="image/x-icon" href="/static/images/1000003068.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8284760783766658"
    crossorigin="anonymous"></script>
    <meta name="description" content="Professional plumbing services with Toilet Titans. Contact us for camera sewer inspection, drain cleaning, and more.">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap">
    <title>Toilet Titans</title>
</head>
<body>
    <body>
        <div class="header">
            <div class="navbar">
                <img class="logo" src="/static/images/1000003068.png" alt="img not found" >
                <a href="/" class="nav-link"><strong>Home</strong></a>
                <a href="/contact" class="nav-link"><strong>Contact</strong></a>
                <a href="https://www.facebook.com/profile.php?id=61553675832919" class="nav-link"><i class="fa fa-facebook"></i> Visit us on facebook</a>
            </div>
        </div>
        <div>
            <div class="body">
                <h1>About Us</h1>
                <p>Welcome to Toilet Titans – Your Trusted Plumbing Partner!</p>
                <p>At Toilet Titans, we pride ourselves on delivering top-notch plumbing services with a commitment to
                    excellence. Led by our dedicated owner, Austin Gildehaus, we bring a wealth of experience and a passion
                    for solving plumbing challenges.</p>
                <h3>Meet Austin Gildehaus: The Titan Behind the Toilets</h3>
                <p>Austin, a seasoned plumbing professional, founded Toilet Titans with a vision to revolutionize the
                    plumbing industry. With years of hands-on experience and a deep understanding of the intricacies of
                    plumbing systems, Austin leads our team by example. His dedication to quality service and customer
                    satisfaction is the driving force behind Toilet Titans.</p>
                <h3>Our Commitment to Quality</h3>
                <p>At Toilet Titans, we understand the importance of a smoothly functioning plumbing system. Whether it's a
                    leaky faucet, a clogged drain, or a complex sewer issue, we tackle every job with precision and
                    expertise. Our team of skilled plumbers undergoes rigorous training to stay abreast of the latest
                    industry advancements, ensuring that we deliver innovative solutions to our clients.</p>
                <h3>Why Choose Toilet Titans?</h3>
                <ul>
                    <li class="li"><strong>Expertise You Can Trust:</strong> Our team comprises highly skilled and licensed plumbers
                        who bring expertise and professionalism to every job.</li>
                    <li class="li"><strong>Customer-Centric Approach:</strong> We prioritize customer satisfaction and strive to
                        exceed expectations. Your comfort and peace of mind are our top priorities.</li>
                    <li class="li"><strong>Advanced Solutions:</strong> Equipped with state-of-the-art tools and technology, we
                        provide cutting-edge solutions to address even the most complex plumbing issues.</li>
                    <li class="li"><strong>Reliable and Timely Service:</strong> We understand the urgency of plumbing problems. Our
                        prompt and reliable service ensures that your plumbing concerns are addressed swiftly.</li>
                </ul>
                <p>Join hands with Toilet Titans and experience plumbing excellence. Contact us today for all your plumbing
                    needs, and let us be your go-to plumbing partner. We're here to ensure your plumbing systems work
                    seamlessly, leaving you with peace of mind.</p>
                <p><strong>Toilet Titans; Where Quality Meets Reliability!</strong></p>
            </div>
        </div>
        <div class="footer">
            <p>&copy; 2023 Toilet Titans, Website Created by Ryan Bollinger <a href="/privacy_policy">Privacy Policy</a>
            </p>
        </div>
    </body>
    
    </html>