<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="google-adsense-account" content="ca-pub-8284760783766658">
    <link rel="icon" type="image/x-icon" href="/static/images/1000003068.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8284760783766658"
    crossorigin="anonymous"></script>
    <meta name="description" content="Professional plumbing services with Toilet Titans. Contact us for camera sewer inspection, drain cleaning, and more.">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap">
    <title>Toilet Titans</title>
</head>
<body>
    <div class="header">
        <div class="navbar">
            <img src="/static/images/1000003068.png" alt="img not found">
            <a href="https://www.facebook.com/profile.php?id=61553675832919" class="nav-link"><i class="fa fa-facebook"></i> visit us on Facebook</a>
            <a href="/about_us" class="nav-link">About Us</a>
            <a href="/" class="nav-link">Home</a>
            <a href="/privacy_policy" class="nav-link">Privacy Policy</a>
        </div>
        <div class="header-content">
            <p>Call us at <a href="tel:5672039256">567-203-9256</a> to set up <br> service or schedule an appointment</p>
        </div>
    </div>
    <div class="footer">
        <p>&copy; 2023 Toilet Titans, Website Created by Ryan Bollinger <a href="/privacy_policy">Privacy Policy</a></p>
    </div>
</body>
</html>