<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/1000003068.png') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap">
        <title>Toilet Titans</title>
</head>
<body>
    <div class="header">
        <div class="header-content">
            <img src="{{ url_for('static', filename='images/1000003068.png') }}" alt="img not found">
            <hr>
            <div class="contact-info">
                <p>Call us at <a href="tel:5672039256">567-203-9256</a> to set up service or schedule an appointment</p>
                <a href="https://www.facebook.com/profile.php?id=61553675832919" class="fa fa-facebook"></a>
                <p>Or visit our facebook page</p>
            </div>
        </div>
    </div>
    <div class="body">
        <style>
        
        </style>
        <h1>WHAT WE DO</h1>
        <ul class="list-group .list-group-flush">
            <li class="list-group-item">CAMERA SEWER INSPECTION</li>
            <li class="list-group-item">DRAIN CLEANING</li>
            <li class="list-group-item">DRAIN REPAIR</li>
            <li class="list-group-item">WATER HEATER REPAIR AND REPLACEMENT</li>
            <li class="list-group-item">SUMP PUMP REPLACEMENT</li>
            <li class="list-group-item">APPLAINCE HOOKUP</li>
            <li class="list-group-item">FIXTURE REPAIR AND REPLACEMENT</li>
            <li class="list-group-item">FROZEN WATERLINE REPAIR</li>
            <li class="list-group-item">WHOLE HOME FILTRATION SYSTEM</li>
        </ul>
    </div>
    <div class="footer">
        &copy; 2023 Toilet Titans, Website Created by Ryan Bollinger <a href="#">Privacy policy</a>
    </div>
</body>
</html>