<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="/static/images/1000003068.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8284760783766658" crossorigin="anonymous"></script>
    <meta name="description" content="Professional plumbing services with Toilet Titans. Contact us for camera sewer inspection, drain cleaning, and more. Greenwich Ohio Plumber. Ashland Ohio Plumber. Plumbing. Water HeaterPlumbing services ohio
    Emergency plumber ohio
    Residential plumbing ohio
    Drain cleaning ohio
    Leak repair ohio
    Water heater installation/repair ohio
    Toilet repair/installation ohio
    Faucet repair/installation ohio
    Pipe repair/replacement ohio
    Sewer line repair ohio
    Gas line repair/installation ohio
    Water softener installation ohio
    Sump pump installation/repair ohio
    Plumbing maintenance ohio
    Clogged drains ohio
    Burst pipes ohio
    Kitchen plumbing ohio
    Bathroom plumbing ohio
    Repiping services ohio">
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap">
    <title>Toilet Titans</title>
</head>
<body>
    <div class="header">
        <div class="navbar">
            <img class="logo" src="/static/images/1000003068.png" alt="img not found">
            <a href="/about_us" class="nav-link"><strong>About Us</strong></a>
            <a href="https://www.facebook.com/profile.php?id=61553675832919" class="nav-link"><i class="fa fa-facebook"></i> Visit us on facebook</a>
            <h3>Call or Text us at <a href="tel:567-203-9256"><strong>567-203-9256</strong></a> to schedule services</h3>
            <h3>24/7 Emergency Service Hours After 6pm</h3>
        </div>
        <hr>
    </div>
    <div class="body">
        <h1>WHAT WE DO</h1>
        <div id="imageCarousel" class="carousel slide" data-ride="carousel" data-interval="2750">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="carousel-caption d-block d-md-block">
                        <h5>CAMERA SEWER INSPECTION</h5>
                    </div>
                    <img src="/static/images/camera_sewer_inspection.png" class="d-block w-100" alt="Camera Sewer Inspection">
                </div>
                <div class="carousel-item">
                    <div class="carousel-caption d-block d-md-block">
                        <h5>DRAIN CLEANING</h5>
                    </div>
                    <img src="/static/images/Drain_Cleaning.jpg" class="d-block w-100" alt="Drain Cleaning">
                </div>
                <div class="carousel-item">
                    <div class="carousel-caption d-block d-md-block">
                        <h5>Appliance Hookup</h5>
                    </div>
                    <img src="/static/images/Appliance_Hookup.jpg" class="d-block w-100" alt="Drain Cleaning">
                </div>
                <div class="carousel-item">
                    <div class="carousel-caption d-block d-md-block">
                        <h5>Drain Repair</h5>
                    </div>
                    <img src="/static/images/drain-repair.jpg" class="d-block w-100" alt="Drain Cleaning">
                </div>
                <div class="carousel-item">
                    <div class="carousel-caption d-block d-md-block">
                        <h5>Filtration Systems</h5>
                    </div>
                    <img src="/static/images/filtration-systemjpg.jpg" class="d-block w-100" alt="Drain Cleaning">
                </div>
                <div class="carousel-item">
                    <div class="carousel-caption d-block d-md-block">
                        <h5>Frozen Water Line Repair</h5>
                    </div>
                    <img src="/static/images/Frozen_Line.jpg" class="d-block w-100" alt="Drain Cleaning">
                </div>
                <div class="carousel-item">
                    <div class="carousel-caption d-block d-md-block">
                        <h5>Water Heater Repair</h5>
                    </div>
                    <img src="/static/images/Water_Heater.jpg" class="d-block w-100" alt="Drain Cleaning">
                </div>
                <div class="carousel-item">
                    <div class="carousel-caption d-block d-md-block">
                        <h5>Sump Pump Repair</h5>
                    </div>
                    <img src="/static/images/Sump_pump.jpg" class="d-block w-100" alt="Drain Cleaning">
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <p>&copy; 2023 Toilet Titans, Website Created by Ryan Bollinger <a href="/privacy_policy">Privacy Policy</a></p>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>