<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/1000003068.png') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Toilet Titans</title>
</head>
<body>
    <div class="header">
        <img src="{{ url_for('static', filename='images/1000003068.png') }}" alt="">
        <p>Call Austin at <a href="tel:5672039256">567-203-9256</a> to set up service or schedual an appointment</p>
        <a href="#" class="fa fa-facebook"></a>
    </div>
    <div class="body">
        <style>
        .body {
            border: solid #333;
            background-image: url("{{ url_for('static', filename='images/wp3353895.jpg') }}");
            background-size: cover; /* Ensure the background image covers the entire container */
            background-repeat: no-repeat; /* Prevent the image from repeating */
            flex: 1;
        }
        </style>
        <h1>WHAT WE DO</h1>
        <h3>1. Installation of Plumbing Systems:</h3>
            <h4>Residential Plumbing:</h4>

            <p>Toilet Titans are involved in the installation
            of plumbing systems in homes. This includes the installation of water supply
            lines, drainage systems, and fixtures such as sinks, toilets, showers, and water heaters.</p>

            <h4>Commercial Plumbing:</h4>
            <p>In commercial settings, Toilet Titans install more
            complex systems to meet the demands of larger buildings. This may involve designing
            and installing plumbing systems for office buildings, restaurants, hospitals, and
            other commercial spaces.</p>

            <h3>2. Repair and Maintenance:</h3>
            <h4>Leak Repairs:</h4>
            <p>One of the most common issues homeowners face is water leaks.
                Toilet Titans identify and repair leaks in pipes, faucets,
            and fixtures to prevent water damage and waste.</p>

            <h4>Pipe Repairs:</h4>
            <p>Toilet Titans handle the repair or replacement of damaged or corroded
            pipes. This may involve fixing burst pipes, repairing leaks, or replacing old and
            worn-out pipes.</p>

            <h4>Fixture Repairs:</h4>
            <p>Repairing and maintaining fixtures such as faucets, toilets, 
            and water heaters is a common service provided by Toilet Titans. This ensures
            that these fixtures function efficiently and prevent water wastage.</p>

            <h4>Drain Cleaning:</h4>
            <p>Over time, drains can become clogged with debris, grease, and other 
            materials. Toilet Titans use various tools and techniques to clean and unclog drains,
            preventing backups and water damage.</p>

            <h4>Emergency Plumbing Services:</h4>
            <p>Plumbing emergencies, such as burst pipes, severe leaks, or sewage backups,
            require immediate attention. Toilet Titans offer emergency services to 
            address these critical situations promptly and prevent further damage to property.</p>

        <h1>How We Help</h1>
        <p> Toilet Titans can keep your plumbing in top condition, address issues promptly,
            and provide expert solutions for a well-functioning system.
        </p>
    </div>
    <div class="footer">
        &copy; 2023 Toilet Titans, Website Created by Ryan Bollinger 
    </div>
</body>
</html>