<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="google-adsense-account" content="ca-pub-8284760783766658">  
        <link rel="icon" type="image/x-icon" href="/static/images/1000003068.png">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/style.css">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8284760783766658"
        crossorigin="anonymous"></script>
        <meta name="description" content="Professional plumbing services with Toilet Titans. Contact us for camera sewer inspection, drain cleaning, and more.">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap">
        <title>Toilet Titans</title>
</head>
<body>
    <div class="header">
        <div class="header-content">
            <img src="/static/images/1000003068.png" alt="img not found">
            <p>Call us at <a href="tel:5672039256">567-203-9256</a> to set up <br> service or schedule an appointment</p>
            <div class="facebooklogo">
                <a href="https://www.facebook.com/profile.php?id=61553675832919" class="fa fa-facebook"></a>
                <p>Or visit our facebook page</p>
            </div>
        </div>
    </div>
    <div class="body">
        <a class="Return" href="/">Return Home</a>
        <h1>Privacy Policy</h1>
        <p>Last updated: 11/30/23</p>

        <h3>Introduction</h3>
        <p>Welcome to ToiletTitans.com. This Privacy Policy outlines our
        policies regarding the collection, use, and disclosure of personal 
        information when you use our website.</p>

        <h3>Information Collection and Use</h3>
        <p>We do not collect personally identifiable information unless it is
        voluntarily provided to us. The information you provide may be used to
        contact or identify you.</p>

        <h3>Log Data</h3>
        <p>We collect information that your browser sends whenever you visit
        our website ("Log Data"). This Log Data may include information
        such as your computer's Internet Protocol ("IP") address, browser
        type, browser version, the pages of our website that you visit,
        the time and date of your visit, the time spent on those pages,
        and other statistics.</p>

        <h3>Cookies</h3>
        <p>We use "cookies" to collect information. You can instruct your browser
        to refuse all cookies or to indicate when a cookie is being sent.
        However, if you do not accept cookies, you may not be able to use
        some portions of our website.</p>

        <h3>Security</h3>
        <p>The security of your personal information is important to us, but remember
        that no method of transmission over the Internet or electronic storage is 100% secure. 
        While we strive to use commercially acceptable means to protect your personal
        information, we cannot guarantee its absolute security.</p>

        <h3>Links to Other Sites</h3>
        <p>Our website may contain links to other sites that are not operated by us. If you click 
        on a third-party link, you will be directed to that third party's site. We strongly 
        advise you to review the Privacy Policy of every site you visit.</p>

        <h3>Changes to This Privacy Policy</h3>
        <p>We may update our Privacy Policy from time to time. We will notify you of any changes by 
        posting the new Privacy Policy on this page.</p>

        <a class="Return" href="/">Return Home</a>
        
    </div>

    <div class="footer">
        <p>&copy; 2023 Toilet Titans, Website Created by Ryan Bollinger <a href="/privacy_policy">Privacy Policy</a></p>
    </div>
</body>
</html>