/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    color: #ddd;
    font-family: 'Roboto', sans-serif;
    margin: auto;
    min-height: 100vh;
    background-image: url("/static/images/wp3353894.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Header styles */
.header {
    position: relative;
}

.navbar {
    color: #ddd;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
}

.logo {
    margin-top: 20px;
    height: 300px;
    width: auto;
}

.nav-link {
    color: #fff;
    text-decoration: underline;
    padding: 14px 16px;
}

.nav-link:hover {
    background-color: #ddd;
    color: #333;
}

/* Header content styles */
.header-content {
    text-align: center;
}

.header h2 {
    color: #f5f4f4;
    font-size: 30px;
    margin: 0;
    align-self: center;
}


/* Footer styles */
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: auto;
}

/* Carousel styles */
.carousel {
    margin: 50px;
}

.carousel-inner {
    border: 5px solid black;
    border-radius: 10px;
    overflow: hidden;
}

.carousel-item {
    text-align: center;
}

.carousel-item img {
    height: 650px;
    width: auto;
    margin: 0 auto;
}

.carousel-caption {
    max-width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 10px;
}

.carousel-caption h5 {
    color: white;
    font-size: 20px;
    margin-bottom: 0;
}

.carousel-container {
    margin: 15px;
    justify-content: space-evenly;
    width: 48%;
    display: inline-block;
}

/* Media query for smaller screens */
@media (max-width: 767px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .carousel-container {
        width: 100%;
        margin: 15px;
    }
}