body {
    border: 5px solid gold ;
    font-family: 'IM Fell English', serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the body takes at least the full height of the viewport */
}

.header {
    border: 5px double #333;
    background: linear-gradient(to right, rgb(227, 230, 235), #898a8b); /* Gradient background */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.header-content {
    max-width: 800px; /* Limit the maximum width of the content */
    margin: 0 auto; /* Center the content horizontally within the header */
}

.header img {
    max-width: 350px; /* Make sure the image doesn't exceed the container width */
    height: auto; /* Maintain the aspect ratio */
}

.header h1 {
    color: #333333; /* Set the text color */
}

.contact-info {
    margin-top: 10px; /* Add some space between the heading and contact info */
}


.fa {
    border: 5px double #333;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

.list-group {
    font-size: x-large;
    font-weight: bolder;
    align-content: center;
    margin-bottom: 50px;
    margin-top: 50px;
    border: 5px double #333;
    text-align: center;
    width: 600px;
    margin: 0 auto; /* Center the list-group horizontally */
    width: 65%; /* Set a width for better responsiveness, adjust as needed */
}

.Listim {
    border-top:5px double  #333;
    border-bottom:5px double  #333;
    height: 500px;
        /* Set the height as needed */
    /* Add any other styling properties you want */
}

/* Facebook   Logo*/
.fa-facebook {
    background: #3B5998;
    color: white;
}

.body p, h1, h3, h4 {
    margin-top: 25px;
    margin-left: 250px;
    margin-right: 250px;
    color: rgb(250, 250, 250);
    text-align: center;
}
.body{
    border: 5px double #333 ;
}

.footer {
    margin-top: auto;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
body {
    background-image: url("/static/images/wp3353895.jpg");
}