body {
    border: 5px solid black;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url("/static/images/wp3353895.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.header {
    position: relative;
}

.navbar {
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.logo {
    margin-bottom: -120px;
    height: 500px;
    display: flex;
    justify-content: center;
    margin-right: 10px;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    padding: 14px 16px;
}

.nav-link:hover {
    background-color: #ddd;
    color: #333;
}

.header-content {
    justify-content: space-evenly;
    background-color: rgb(186, 199, 213);
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    z-index: 1;
    padding: 20px;
}

/* Add a media query for smaller screens */
@media (max-width: 767px) {
    .navbar {
        flex-direction: row-reverse; /* Stack items vertically on smaller screens */
    }
}

.header h1 {
    color: #333333;
    font-size: 24px;
    margin: 10px 0;
}

.facebooklogo {
    margin-right: 25px;
}

.fa {
    font-size: 30px;
    text-align: center;
    text-decoration: underline
}

.fa:hover {
    opacity: 0.7;
}

.list-group {
    font-size: x-large;
    font-weight: bolder;
    align-content: center;
    margin-bottom: 50px;
    margin-top: 50px;
    text-align: center;
    width: 65%;
    margin: 0 auto;
}

.Listim {
    height: 500px;
}

.body p,
h1,
h3,
h4{
    margin-top: 25px;
    margin-left: 20px;
    margin-right: 20px;
    color: rgb(250, 250, 250);
    text-align: center;
}
.body {
    flex: 1; /* This will make the body element grow and take up remaining space */
}
.li{
    color: #fff;
}

.services {
    padding: 50px 0;
    text-align: center;
}

.Return {
    display: flex;
    justify-content: center;
    color: blue;
    margin-bottom: 10px;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: auto; /* This will push the footer to the bottom */
}
.carousel {
    margin: 50px;
}

.carousel-inner {
    border: 5px solid black;
    border-radius: 10px;
    overflow: hidden;
}
.carousel-inner img {
    width: 550px;
}

.carousel-item {
    text-align: center;
}

.carousel-item img {
    max-height: 600px; /* Set the maximum height as per your preference */
    width: auto; /* Let the width scale proportionally */
    margin: 0 auto; /* Center the image horizontally */
}

.carousel-caption {
    max-width: 100%; 
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background for captions */
    border-radius: 5px;
    padding: 10px;
}

.carousel-caption h5 {
    color: white;
    font-size: 20px;
    margin-bottom: 0;
}

.carousel-control-prev, .carousel-control-next {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background for control arrows */
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: white; /* Control arrows color */
}

.carousel-control-prev:hover, .carousel-control-next:hover {
    background-color: rgba(0, 0, 0, 0.8); /* Darker background on hover */
}
